<div>
  <a href="?date={{prev_month_date|date:'c'}}">Prev</a>
  <a href="?date={{next_month_date|date:'c'}}">Next</a>
  Month
</div>

<div hidden data-activity-indicator>
    <i class="fas fa-spinner fa-spin"></i>
    <span>Loading...</span>
</div>

{{calendar|safe}}

{% if calendar_event %}
<div id="modal-thing" class="modal" style="display: block;">
  <div class="modal-dialog pt-20">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-top: 0px;">Some modal title</h5>
        <div
          class="cursor"
          data-reflex="click->CalendarReflex#reload">
        X
        </div>
      </div>
      <form class="p-5">
        <div data-reflex-permanent>
          {{ form.event_hour.errors }}
          <div class="btn-group" data-controller="calendar">
            {{ form.event_hour }}
            {% for hour in hours %}
            <button
              class="btn-primary btn {% if calendar_event.occurs_at|date:"g" == hour %}active{% endif %}"
              data-action="click->calendar#select"
            >{{ hour }}
            </button>
            {% endfor %}
          </div>

          <div class="btn-group btn mt-3" data-controller="calendar">
            {{ form.event_meridian }}
            <button class="btn-primary btn" data-action="click->calendar#select">AM</button>
            <button class="btn-primary btn" data-action="click->calendar#select">PM</button>
          </div>
          <div class="mt-3">
            {{ form.description }}
          </div>
        </div>

        <button class="btn-primary btn mt-3" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
{% endif %}

<div
  id="backdrop"
  data-controller="calendar"
  data-remove-classes=""
>
</div>
