
<article id="red"
    data-controller="chat"
    data-action="chats:added@document->chat#reload cable-ready:after-morph@document->chat#scroll"
    data-reflex-root="#chat-container"
    >
    <span id="chat-container" data-target="chat.list">
      {% for chat in chats  %}
        <aside class="message" style="min-height:auto; margin-top: 15px;">
          <p>
          {{ chat.message }} <sup>{{ chat.created_at|timesince }} ago </sup>
          </p>
        </aside>
      {% endfor %}
    </span>
    <form>
      <textarea data-target="chat.input" placeholder="Type your message.." minlength="4"></textarea>
      <button data-action="click->chat#post" type="submit"> Send </button>
      <div>
        <small>Messages stored {{chats|length}}</small>
      </div>
    </form>
</article>
